.forbidden {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 400px;
}

.box__footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}