/* fonts */
* {
    font: var(--base-font);
    color: var(--text);
}

h3 {
    font: var(--lg-font);
    margin: 0;
}


/* close icon */
.icon-close {
    cursor: pointer;
    position: relative;
    width: 18px;
    height: 18px;
    opacity: 0.3;
}
.icon-close:hover {
    opacity: 1;
}
.icon-close:before, .icon-close:after {
    position: absolute;
    left: 8px;
    content: ' ';
    height: 19px;
    width: 2px;
    background-color: #333;
}
.icon-close:before {
    transform: rotate(45deg);
    transform-origin: center;
}
.icon-close:after {
    transform: rotate(-45deg);
    transform-origin: center;
}


/* button */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    height: 46px;
    border-radius: 6px;
    background: var(--blue);
    box-shadow: 0 5px 8px var(--blue-dark);
    color: var(--white);
    border: 0;
    text-decoration: none;
    cursor: pointer;
}

.button:disabled {
    opacity: 0.5;
    cursor: default;
}

.button.button--danger {
    background: var(--danger);
    box-shadow: 0 5px 8px var(--danger-dark);
}

/* input */
.input {
    margin-bottom: 15px;
    display: block;
    width: 100%;
}

.input__error {
    display: inline-block;
    margin-top: 3px;
    color: var(--danger);
}

.input__field {
    margin-top: 2px;
    display: block;
    width: 100%;
    height: 46px;
    padding: 0 20px;
    border-radius: 6px;
    background: var(--filed);
    border: 1px solid var(--filed);
    outline: none;
    color: var(--field-text);
}


.input__field.ng-invalid.ng-touched,
.input__field.invalid.ng-touched {
    border-color: var(--danger);
}

/* form */
.form {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 26px 26px 26px;
}

.form__head {
    margin: 31px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__footer {
    display: flex;
    justify-content: space-between;
}

/* card */
.card {
    box-shadow: 0 0 30px var(--black);
    border-radius: 6px;
    background: var(--white);
}

/* layout */
.layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background: var(--body);
    padding: 56px 46px 56px;
}
