<div class='layout home'>
  <div style='width: 400px;'>
    <h1>Welcome to home!</h1>
    <br>This is a dinosaur with mixing of angular.js 1.3 and angular.js 1.8.2</br>
    There is a lot of new features such as ng-route and better event handlers e.t.c, but I didn't have time to investigate and use them here</p>
    <p>Click <a ui-sref='users-list'><b>here</b></a> to manage users</p>
    <p>If you arn't logged in as Admin you will be redirected to the 403 page!</p>
    <a ui-sref='login' class='button'>Logout</a>
    <a href='#!/bla' class='button'>404</a>
  </div>
</div>